body {
    display: flex;
    justify-content: center;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
}
.espacio {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 50%;
    position: absolute;
    top: 25%;
}
.fix {
    position: relative;
    top: 23px;
}
main {
    height: 300px;
    background-color: white;
    border-radius: 0 15px 15px 0;
}
.help {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.p1 {
    font-size: 21px;
    color: hsl(217, 19%, 35%);
    width: 85%;
}
.p2 {
    font-size: 13px;
    color: hsl(212, 23%, 69%);
    width: 85%;
}                                                                   
.img {
    height: 300px;
}
img {
    background-image: url('https://github.com/platzi/reto-componente-de-vista-previa-de-articulo/blob/master/images/drawers.jpg?raw=true');
    background-repeat: no-repeat;
    background-size: 350px 300px;
    width: 350px;
    height: 300px;
    border-radius: 15px 0 0 15px;
}
.imgs {
    width: 100%;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.perfil {
    display: flex;
}
.perfil img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.event {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    bottom: 0;
}
.share {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    cursor: pointer;
}
.share img {
    width: 16px;
    height: 16px;
    background: none;
}
.perfil p {
    position: relative;
    bottom: 10px;
    left: 20px;
}
.name {
    color: hsl(217, 19%, 35%);
}
.date {
    position: relative;
    top: 5px;
    color: hsl(212, 23%, 69%);
}
.s-c {
    background-color: hsl(217, 19%, 35%);
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: hsl(212, 23%, 69%);
}
.press {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5px;
    left: 85px;
}
.s-t {
    position: relative;
    bottom: 5px;
    align-self: center;
    background-color: hsl(217, 19%, 35%);
    width: 35px;
    height: 20px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.face {
    width: 20px;
    height: 20px;
    background-image: url('https://raw.githubusercontent.com/CarlosCordovaD/Reto2Platzi/2fa60e5776da5fb689149498b8eda7833de04ceb/images/icon-facebook.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.pin {
    width: 20px;
    height: 20px;
    background-image: url('https://raw.githubusercontent.com/CarlosCordovaD/Reto2Platzi/2fa60e5776da5fb689149498b8eda7833de04ceb/images/icon-pinterest.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.twitte {
    position: relative;
    top: 2px;
    width: 24px;
    height: 24px;
    background-image: url('https://raw.githubusercontent.com/CarlosCordovaD/Reto2Platzi/2fa60e5776da5fb689149498b8eda7833de04ceb/images/icon-twitter.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.font {
    background-color: hsl(217, 19%, 35%);
    height: 50px;
}
.r {
    display: flex;
    align-items: center;
    color: hsl(212, 23%, 69%);
}
.r .face {
    position: relative;
    left: 15px;
}
.r .twitte {
    position: relative;
    left: 40px;
}
.r .pin {
    position: relative;
    left: 60px;
}
@media screen and (max-width: 375px) {
    .espacio {
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        width: 80%;
    }
    img {
        width: 300px;
        border-radius: 15px 15px 0 0;
    }
    main {
        border-radius: 0 0 15px 15px;
        height: 350px;
    }
}